intro{
    color: rgb(81, 17, 17);
}
html {
    background-color: grey;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; 
    text-align: center;
    li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
    }
  }
  body {
    width: fit-content;
    margin: 0 auto;
    background-color: aliceblue;
    background-image: url("img/cake-1.png")
   
  }
